.signup-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: 90vh;
  .img-wrapper {
    padding: 3em;
    img {
      width: 100%;
      height: 50%;
      margin-top: 20vh;
      img {
        width: auto;
      }
    }
  }

  .form-wrapper {
    background: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    margin: 1em 2em;
    border-radius: 20px;
    form {
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .span {
        background-color: $secondary;
        margin-top: 1em;
        color: $neutral;
        text-align: center;
      }
      div {
        margin-top: 1em;
        width: 100%;
        label {
          display: block;
        }

        input {
          width: 100%;
          height: 35px;
          border: none;
          outline: none;
          padding: 3px;
        }
        input:focus {
          border: 2px solid $primary2;
        }
        .checkbox {
          width: max-content;
          height: max-content;
          margin-right: 3px;
        }
      }

      button {
        width: 100%;
        height: 30px;
        background: $primary2;
        border: none;
        outline: none;
        cursor: pointer;
        color: $neutral;
        margin-top: 1.5em;
      }
      button:hover {
        background: $secondary;
      }
    }
    h2 {
      margin-top: 1em;
      width: 70%;
      color: $neutral;
    }

    .social-auth {
      margin-top: 1em;
      display: flex;
      width: 70%;
      justify-content: space-between;

      button {
        width: 150px;
        height: 35px;
        border: none;
        outline: none;
        color: white;
      }
      .facebook {
        background: rgba(22, 99, 161, 0.623);
      }
      button:hover {
        background: $secondary;
        cursor: pointer;
      }
      .twitter {
        background: $primary2;
      }
    }

    .forget-password {
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin-top: 1em;
      a {
        text-decoration: none;
        color: $secondary;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .signup-wrapper {
    grid-template-columns: 100%;
    min-height: 90vh;
    .img-wrapper {
      display: none;
    }

    .form-wrapper {
      min-height: 92vh;
      margin: 0;
      background: $neutral;
      form {
        width: 90%;
        div {
          input {
            border: 1px solid $primary;
          }
        }
        button {
          width: 100%;
        }
      }
      .social-auth {
        width: 90%;
        button {
          width: 100px;
        }
      }
      h2 {
        font-size: 20px;
        width: 90%;
        color: $primary;
      }
      .forget-password {
        width: 90%;
      }
    }
  }
}
