.register {
  margin: 5vh 5%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 82vh;
  .col-1 {
    background: $primary2;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      text-align: center;
      padding: 1em;
      h1 {
        font-size: clamp(2.75rem, 4vw, 4.5rem);
      }
      p {
        font-size: clamp(16px, 20px, 30px);
        margin: 1em 0;
      }
      button {
        width: 50%;
        height: 50px;
        background: none;
        outline: none;
        border: 1px solid $neutral;
        border-radius: 16px;
        font-size: clamp(16px, 20px, 30px);
        a {
          text-decoration: none;
          color: $neutral;
        }
      }
      button:hover {
        background: $secondary;
      }
    }
  }
  .col-2 {
    background: darken($color: $neutral, $amount: 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    .div {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: clamp(2.75rem, 3vw, 4.5rem);
        color: $primary2;
      }
      .icon {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 1em 0;
        color: $primary;
      }
      p {
        color: $primary;
      }

      form {
        margin-top: 1em;
        width: 100%;

        div {
          width: 100%;
          text-align: center;
          margin: 0.5em;
          border: 1px solid gray;
          input {
            width: 80%;
            height: 30px;
          }
          label {
            width: 20%;
            display: inline-block;
            height: 30px;
            background: coral;
          }
        }
      }
    }
  }
}
