.register {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, $primary, $primary2);
  grid-auto-columns: max-content max-content;
  grid-template-rows: 360px 50px 50px;
  .register-form {
    width: 400px;
    background: $neutral;
    grid-column: 1/4;
    grid-row: 1/3;
    border-radius: 30px;
    .div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 360px;
      padding: 2em;
      h1 {
        font-size: 30px;
      }

      form {
        width: 100%;
        .input {
          border-bottom: 1px solid $primary;
          margin: 1em 0;
          input {
            width: 90%;
            border: none;
            outline: none;
            background: none;
            padding: 0.5em;
          }

          label {
            width: 10%;
            color: darken($color: $neutral, $amount: 10);
          }
        }
        .input:hover {
          border-bottom: 2px solid $primary2;
        }

        .btn-container {
          display: flex;
          justify-content: flex-end;

          a,
          button {
            width: 100px;
            padding: 10px;
            outline: none;
            border: none;
            transition: all 0.5s ease-in;
          }
          a:hover,
          button:hover {
            background: $secondary;
            color: $neutral;
            cursor: pointer;
          }

          a {
            text-decoration: none;
            background: darken($color: $neutral, $amount: 10);
            text-align: center;
            color: $primary;
            margin-right: 1em;
          }
          button {
            background: $primary2;
          }
        }

        .check {
          margin: 1em 0;
          span {
            padding-left: 1em;
          }
        }
      }
    }
  }

  .register-social {
    background: $primary;
    grid-column: 1/4;
    grid-row: 2/4;
    margin: 0 1em;
    border-radius: 30px;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 1em;
      p {
        width: 40%;
        color: $secondary;
      }

      .social {
        display: flex;
        justify-content: space-between;
        width: 60%;
        button {
          outline: none;
          background: none;
          border: none;
          color: $primary2;
          transition: all 0.5s ease-in-out;
        }

        button:hover,
        button:focus {
          color: $neutral;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .register {
    .register-form {
      width: 300px;
    }
  }
}
