nav {
  padding: 0 5%;
  background: $primary;
  display: flex;
  justify-content: space-between;
  min-height: 8vh;
  align-items: center;
  a {
    color: $neutral;
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;
    li {
      margin: 0 2em;
    }

    #login {
      background: $primary2;
      padding: 0.5em 1em;
    }
    #register {
      background: lighten($color: $primary, $amount: 20);
      padding: 0.5em 1em;
    }
    #register:hover,
    #login:hover {
      background: $secondary;
    }
  }
}
