.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, $primary, $primary2);

  .reset-form {
    width: 400px;
    background: $neutral;
    border-radius: 30px;
    padding: 1em;

    h1 {
      font-size: 30px;
      text-align: center;
      color: $primary;
    }

    p {
      margin: 0.5em;
    }

    form {
      width: 100%;
      .input {
        border-bottom: 1px solid $primary;
        margin: 1em 0;
        input {
          width: 90%;
          border: none;
          outline: none;
          background: none;
          padding: 0.5em;
        }

        label {
          width: 10%;
          color: darken($color: $neutral, $amount: 10);
        }
      }
      .input:hover {
        border-bottom: 2px solid $primary2;
      }

      .btn-container {
        display: flex;
        justify-content: flex-end;

        a,
        button {
          width: 100px;
          padding: 10px;
          outline: none;
          border: none;
          transition: all 0.5s ease-in;
        }
        a:hover,
        button:hover {
          background: $secondary;
          color: $neutral;
          cursor: pointer;
        }

        a {
          text-decoration: none;
          background: darken($color: $neutral, $amount: 10);
          text-align: center;
          color: $primary;
          margin-right: 1em;
        }
        button {
          background: $primary2;
        }
      }

      .forgetpassword {
        margin-top: 1em;
        a {
          text-decoration: none;
          margin-left: 0.5em;
          font-weight: bolder;
          color: $secondary;
        }
        a:hover {
          color: $primary2;
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .reset {
    .reset-form {
      width: 300px;
    }
  }
}
