.dashboard {
  width: 75%;
  min-height: 100vh;
  display: inline-block;
  color: yellowgreen;
  background-color: blueviolet;
}

@media only screen and (max-width: 992px) {
  .dashboard {
    width: 70%;
    background: yellowgreen;
  }
}
@media only screen and (max-width: 576px) {
  .dashboard {
    //padding: 0.5em 5%;
    width: 100%;
    background: yellow;
  }
}
