.user {
  width: 75%;
  min-height: 100vh;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  .card {
    margin: 0 auto 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: darken($color: $neutral, $amount: 5%);
    .imgbx {
      width: 100%;
      overflow: hidden;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .div {
      padding: 1em;
      width: 100%;
      height: inherit;
      .tag {
        width: max-content;
        margin-bottom: 0.5em;
        span {
          color: rgb(167, 161, 161);
        }
        .line {
          width: 100%;
          height: 2px;
          border-radius: 1px;
          background-color: rgb(167, 161, 161);
        }
      }
      h3 {
        font-size: 1.1em;
      }
      .lines {
        margin: 1em auto 0.5em;
        width: 100%;
        height: 1px;
        border-radius: 1px;
        background-color: rgb(209, 203, 203);
      }
      .article {
        margin: 0.5em auto;
        font-size: 0.89em;
      }
      .icon {
        display: flex;
        justify-content: space-between;
        button {
          border: none;
          outline: none;
          background: none;
          color: $secondary;
          transition: all 0.2s ease-in-out;
        }
        a {
          text-decoration: none;
          color: $secondary;
          transition: all 0.2s ease-in-out;
        }
        a:hover,
        button:hover {
          color: $primary;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .user {
    margin-left: 30%;
    width: 70%;
    padding: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .user {
    margin-top: 8vh;
    margin-left: 0;
    width: 100%;
    padding: 1em 5%;
    grid-template-columns: 100%;
    .card {
      width: 100%;
    }
  }
}
